# Outline Sections
## 1. Literal Constants
Literal constants cannot be changed. They can be:

- a number

In [19]:
# E.g.
5

5

- a string

In [20]:
"string"

'string'

- They can be assigned to a variable, but the idea is that they don't change.

In [21]:
x = 5
y = "string"

## 2. Types of numeric values

There are 3 different types of numbers in Python
Integers (int), Floats (float), and Complex numbers (complex)

### Integers vs. Floats
Integers are what we usually think of as integers. Floats are any number with a decimal point.

You can check the type (actually, the class, but we'll get to that!) with the **type()** function

In [22]:
# Example of an integer
type(5)

int

In [23]:
# Example of a float
type(10.6)

float

In [24]:
# Example of a complex number
type(10 + 3j)

complex

In [25]:
# There isn't any "long" numeric type, integers can have any number of digits
type(10000000000000)

int

## 3. Lists
The list class: an ordered collection of values.
> Can be any type of value!

In [26]:
# E.g. integer values
type([0,1,2,3])

list

In [27]:
# Strings
type(["a","b","c","d"])

list

In [28]:
# You can extract a value stored in a list by indexing
l = [0,1,2,3,4]

Note: everything in python starts at 0 (not 1, like in R)

In [29]:
print(l[0])
print(l[3])

0
3

In [30]:
# If you want multiple values stored in a list you can extract them individually
print(l[0])
print(l[3])

0
3

Or you can slice the list by specifying multiple index positions

A list will be returned

In [31]:
print(l[0:3])

[0, 1, 2]

We get the same result, if we also write it this way:
Note that the last value in the range of values specified is not returned

In [32]:
print(l[:3])

[0, 1, 2]

Lists are changeable

In [33]:
l = [0,1,2,3,4]

print(l)

l[3] = 6
print(l)

[0, 1, 2, 3, 4]
[0, 1, 2, 6, 4]

## You can stores lists in lists
Since there are no matrices in Python, this is one way of creating a matrix.
It can also be useful for nested for loops

> For example:

In [34]:
l = [[0,1,2,3],[4,5,6,7],[8,9,10,11]]

If we want the first list stored in the list:

> Note that a list object is returned.

In [35]:
l[0]

[0, 1, 2, 3]

If we want the first and second list
> Note that we still get a list of lists

In [36]:
l[:2]

[[0, 1, 2, 3], [4, 5, 6, 7]]

If we want the first value in the first list
> Note this is similar to matrix notation, where i denotes the row and j denotes the column, except we are starting at 0

In [37]:
l[0][0]

0

If we only want a few values in the first list

In [38]:
l[0][:3]

[0, 1, 2]

Using in to check if a values is stored in a list

> For example, check if the number 8 is stored in the list l

In [39]:
print(8 in l)
print(8 in l[2])
# Why are these different?

False
True

Add two lists together
> Why doesn't this do what we expect?

In [40]:
l + [10,11,12,13]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], 10, 11, 12, 13]

Does this do what we expect?
> Note that a list of lists is still maintained

In [41]:
l+[[10,11,12,13]]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [10, 11, 12, 13]]

### Other methods that can be used on lists:
- append
- insert
- remove
- del
- copy (IMPT for mutability)
  
### Difference between copy() and redefining a variable
- A copy will make a **new** list.
- Just using a new variable name will only duplicate the reference, and any changes made will affect the original list.