<a href="https://colab.research.google.com/github/jennahgosciak/Python_Meetup/blob/master/Python_Meeting_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Meetup - Meeting 1
## 1. Literal Constants
Literal constants cannot be changed. They can be:

- a number

In [ ]:
# E.g.
5

5

- a string

In [ ]:
"string"

'string'

- They can be assigned to a variable, but the idea is that they don't change.

In [ ]:
x = 5
y = "string"

## 2. Types of numeric values

There are 3 different types of numbers in Python
Integers (int), Floats (float), and Complex numbers (complex)

### Integers vs. Floats
Integers are what we usually think of as integers. Floats are any number with a decimal point.

You can check the type (actually, the class, but we'll get to that!) with the **type()** function

In [ ]:
# Example of an integer
type(5)

int

In [ ]:
# Example of a float
type(10.6)

float

In [ ]:
# Example of a complex number
type(10 + 3j)

complex

In [ ]:
# There isn't any "long" numeric type, integers can have any number of digits
type(10000000000000)

int

## 3. Common Numerical Operators  

| Expression Type | Operator | Example    | Value     |
|-----------------|----------|------------|-----------|
| Addition        | `+`      | `2 + 3`    | `5`       |
| Subtraction     | `-`      | `2 - 3`    | `-1`      |
| Multiplication  | `*`      | `2 * 3`    | `6`       |
| True Division   | `/`      | `25 / 4`   | `6.25`    |
| Floor Division  | `//`     | `25 // 4`  | `6`       |
| Remainder       | `%`      | `25 % 4`   | `1`       |
| Exponentiation  | `**`     | `2 ** 0.5` | `1.41421` |

> For Example:

In [ ]:
36 ** 0.5

6.0

In [ ]:
36 % 6

0

In [ ]:
(((8 * 36) ** 5) + 234) - (3962711306764 / 2)

2020.0

## 4. Integers vs. Floats

* **Integers** are called int values in the Python language. They can only represent whole numbers (negative, zero, or positive) that don't have a fractional component.

In [ ]:
23 // 4

5

* **Real numbers** are called float values (or floating point values) in the Python language. They can represent whole or fractional numbers but have some limitations.

In [ ]:
23 / 4

5.75

## 5. Strings

A **string** can represent a word, a sentence, numbers or even truth values.

**Single quotes:** `'Hello, world!'`
* **Warning:** Single quotes will not work if string includes apostrophes (e.g. 'It's great' will produce an error)

**Double quotes:** `"Hello, world"`

**Triple quotes:** `"""Can write long text on multiple lines.
                Useful for writing documentation for functions."""`

#### **Operands used on strings:**

In [ ]:
"Data" + "Analytics" + "Function"

'DataAnalyticsFunction'

In [ ]:
"Data" + " " + "Analytics" + " " + "Function"

'Data Analytics Function'

In [ ]:
"5" + "4"

'54'

## 6. String Functions

### String Indexing

In [ ]:
string_object = "Hello Human Services Data Analytics Function!"
string_object

'Hello Human Services Data Analytics Function!'

In Python, sequence slicing is expressed using square brackets `[ ]`.

In [ ]:
string_object[3] + string_object[4] + string_object[29]

'lol'

When indexing, the first integer indicates the starting index of the slice and the second indicates one beyond the ending index. A colon separates the starting and ending indices. Any bound that is omitted is assumed to be an extreme value: 0 for the starting index, and the length of the sequence for the ending index. 
> E.g. [Starting Index : Ending Index + 1]

In [ ]:
string_object[0:5]

'Hello'

In [ ]:
string_object[0:5:1]

'Hello'

In [ ]:
def print_date(day): 
  """
  Returns string including the day of the week.
  """
  print("Today is {}".format(day))

In [ ]:
print_date("Tuesday")

Today is Tuesday

In [ ]:
for i in range(5): 
    print(i)

0
1
2
3
4

## 7. Lists
The list class: an ordered collection of values.
> Can be any type of value!

In [ ]:
# E.g. integer values
type([0,1,2,3])

list

In [ ]:
# Strings
type(["a","b","c","d"])

list

In [ ]:
# You can extract a value stored in a list by indexing
l = [0,1,2,3,4]

Note: everything in python starts at 0 (not 1, like in R)

In [ ]:
print(l[0])
print(l[3])

0
3

In [ ]:
# If you want multiple values stored in a list you can extract them individually
print(l[0])
print(l[3])

0
3

Or you can slice the list by specifying multiple index positions

A list will be returned

In [ ]:
print(l[0:3])

[0, 1, 2]

We get the same result, if we also write it this way:
Note that the last value in the range of values specified is not returned

In [ ]:
print(l[:3])

[0, 1, 2]

Lists are changeable

In [ ]:
l = [0,1,2,3,4]

print(l)

l[3] = 6
print(l)

[0, 1, 2, 3, 4]
[0, 1, 2, 6, 4]

## You can stores lists in lists
Since there are no matrices in Python, this is one way of creating a matrix.
It can also be useful for nested for loops

> For example:

In [ ]:
l = [[0,1,2,3],[4,5,6,7],[8,9,10,11]]

If we want the first list stored in the list:

> Note that a list object is returned.

In [ ]:
l[0]

[0, 1, 2, 3]

If we want the first and second list
> Note that we still get a list of lists

In [ ]:
l[:2]

[[0, 1, 2, 3], [4, 5, 6, 7]]

If we want the first value in the first list
> Note this is similar to matrix notation, where i denotes the row and j denotes the column, except we are starting at 0

In [ ]:
l[0][0]

0

If we only want a few values in the first list

In [ ]:
l[0][:3]

[0, 1, 2]

Using in to check if a values is stored in a list

> For example, check if the number 8 is stored in the list l

In [ ]:
print(8 in l)
print(8 in l[2])
# Why are these different?

False
True

Add two lists together
> Why doesn't this do what we expect?

In [ ]:
l + [10,11,12,13]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], 10, 11, 12, 13]

Does this do what we expect?
> Note that a list of lists is still maintained

In [ ]:
l+[[10,11,12,13]]

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11], [10, 11, 12, 13]]

### Other methods that can be used on lists:
- append
- insert
- remove
- del
- copy (IMPT for mutability)
  
### Difference between copy() and redefining a variable
- A copy will make a **new** list.
- Just using a new variable name will only duplicate the reference, and any changes made will affect the original list.

## 8. Dictionaries
Dictionaries are an unordered collection of indexed values. They're useful when the position of a value doesn't matter (e.g. whether it's first or last), but there is a substantive way to group or identify values.

> For example, the dictionary below allows you to index apple, carrot, and rice, by the type of food group.

In [ ]:
dict = {"fruit": "apple", "vegetable": "carrot","grain":"rice"}

In [ ]:
dict["fruit"]

'apple'

In [ ]:
dict["vegetable"]
# This is kind of similar to a named list in R?

'carrot'

Dictionaries are made up of key value pairs. In the above example, the keys are: fruit, vegetable, and grain. The values are: apple, carrot, and rice.

In [ ]:
dict.keys()

dict_keys(['fruit', 'vegetable', 'grain'])

In [ ]:
dict.values()

dict_values(['apple', 'carrot', 'rice'])

- What type of object is returned above?
- How might you turn it into a list?

You can attribute multiple values to a single key, by using lists.

In [ ]:
dict = {"fruit":["apple","strawberry","banana"], "vegetable" : ["carrot","spinach","broccoli"], "grain": ["rice","bread","wheat"]}

In [ ]:
dict.keys()

dict_keys(['fruit', 'vegetable', 'grain'])

In [ ]:
dict.values()

dict_values([['apple', 'strawberry', 'banana'], ['carrot', 'spinach', 'broccoli'], ['rice', 'bread', 'wheat']])

In [ ]:
dict.items()

dict_items([('fruit', ['apple', 'strawberry', 'banana']), ('vegetable', ['carrot', 'spinach', 'broccoli']), ('grain', ['rice', 'bread', 'wheat'])])

- Can you create a dictionary of dictionaries?

## 9. Iteration

Lists and dictionaries both iterators, meaning they can be iterated upon.

Like in R and in Stata, you can iterate over a list or a dictionary in either a for loop or a while loop.

- For example, a for loop:

In [ ]:
for i in [0, 1, 2, 3, 4]:
  print(i)

0
1
2
3
4

- A nested for loop

In [ ]:
l = [list(range(5)),list(range(5,10)),list(range(10,15))]
print(l)

for i in range(3):
  for j in range(5):
    print(l[i][j])

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in dict:
  print(dict[i])

['apple', 'strawberry', 'banana']
['carrot', 'spinach', 'broccoli']
['rice', 'bread', 'wheat']

> Note: Python can tell that we want to iterate over the keys.

In [ ]:
for i,j in dict.items():
  print(i)
  print(j)

fruit
['apple', 'strawberry', 'banana']
vegetable
['carrot', 'spinach', 'broccoli']
grain
['rice', 'bread', 'wheat']